/*Body*/
body {
    background-color: #222 !important;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white !important;
}

.LogoText {
    color: white;
    text-align: center;
    font-size: 150px;
}